name: Build
on: [push]
jobs:
  test:
    name: Fetch
    runs-on: ubuntu-latest
    container: ubuntu:20.04
    env:
      DEBIAN_FRONTEND: noninteractive
    strategy:
      fail-fast: false
      matrix:
        runners: [0,1,2,3,4,5,6,7,8,9]
    steps:
      - uses: actions/checkout@v2
      - run: |
          apt update -qq
          apt install -y nodejs
          timeout 3600 node test.js
